<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115614886894-5sibor20aua0j2df0v9rot5aeag1be8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115614886894-5sibor20aua0j2df0v9rot5aeag1be8p</string>
	<key>API_KEY</key>
	<string>AIzaSyC4ccXW3RrUtbEp8K_LeAfpFeMcZ2yNeVg</string>
	<key>GCM_SENDER_ID</key>
	<string>115614886894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recova</string>
	<key>PROJECT_ID</key>
	<string>recova-app</string>
	<key>STORAGE_BUCKET</key>
	<string>recova-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115614886894:ios:0d3225e166b11182cd3cff</string>
</dict>
</plist>